body{
    background-color: hsl(212, 45%, 89%);
    padding: 100px 0px;
    

}
.childDiv{
    background-color: white;
    width: 310px;
    height: 500px;
    margin: auto;
    border-radius: 20px;
    
}
img{
    max-width: 290px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}
p{
    text-align: center;
    padding: 10px;

}
.para1{
    font-weight: 700;
    font-family: cursive;
    font-size: 15px;
    color: hsl(218, 44%, 22%);
}
.para2{
    color: hsl(220, 15%, 55%);;
    font-family: cursive;
}
span{
    color: royalblue;
}